<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Mitro</display-name>
    <description>
      Mitro e' una Web Application sviluppata come progetto di gruppo per il corso di Ingegneria del Software T
    </description>

	<!-- Context attributes to be used throughout the application -->
	
    <!-- Define servlets that are included in the application -->
    
    <servlet> 
    	<servlet-name>Init</servlet-name> 
	    <servlet-class>mitro.view.InizializzaDatabase</servlet-class> 
    </servlet> 
    <servlet> 
    	<servlet-name>ViewLogin</servlet-name> 
	    <servlet-class>mitro.view.login.ViewLogin</servlet-class> 
    </servlet> 
    <servlet> 
    	<servlet-name>HomeAmministratore</servlet-name> 
	    <servlet-class>mitro.view.amministratore.HomeAmministratore</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewRegistrazioneUtente</servlet-name> 
	    <servlet-class>mitro.view.amministratore.ViewRegistrazioneUtente</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewRegistrazioneComunicazione</servlet-name> 
	    <servlet-class>mitro.view.amministratore.ViewRegistrazioneComunicazione</servlet-class> 
    </servlet> 
    <servlet> 
    	<servlet-name>HomeStudente</servlet-name> 
	    <servlet-class>mitro.view.studente.HomeStudente</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewComunicazioniStudente</servlet-name> 
	    <servlet-class>mitro.view.studente.ViewComunicazioni</servlet-class> 
    </servlet>
	<servlet> 
    	<servlet-name>HomeProfessore</servlet-name> 
	    <servlet-class>mitro.view.professore.HomeProfessore</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewComunicazioniProfessore</servlet-name> 
	    <servlet-class>mitro.view.professore.ViewComunicazioni</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewRegistrazionePresenze</servlet-name> 
	    <servlet-class>mitro.view.professore.ViewRegistrazionePresenze</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewRegistrazioneVoti</servlet-name> 
	    <servlet-class>mitro.view.professore.ViewRegistrazioneVoti</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>ViewStoricoProfessore</servlet-name> 
	    <servlet-class>mitro.view.professore.ViewStoricoProfessore</servlet-class> 
    </servlet>
    <servlet> 
    	<servlet-name>HomeLog</servlet-name> 
	    <servlet-class>mitro.view.log.HomeLog</servlet-class> 
    </servlet> 
    
    <!-- Map some URL's to the  servlet --> 
    
    <servlet-mapping> 
    	<servlet-name>Init</servlet-name> 
        <url-pattern>/init</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewLogin</servlet-name> 
        <url-pattern>/login</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>HomeStudente</servlet-name> 
        <url-pattern>/studente</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewComunicazioniStudente</servlet-name> 
        <url-pattern>/studente-comunicazioni</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>HomeProfessore</servlet-name> 
        <url-pattern>/professore</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewComunicazioniProfessore</servlet-name> 
        <url-pattern>/professore-comunicazioni</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewRegistrazionePresenze</servlet-name> 
        <url-pattern>/professore-appello</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewRegistrazioneVoti</servlet-name> 
        <url-pattern>/professore-voti</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewStoricoProfessore</servlet-name> 
        <url-pattern>/professore-storico</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>HomeAmministratore</servlet-name> 
        <url-pattern>/amministratore</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewRegistrazioneUtente</servlet-name> 
        <url-pattern>/amministratore-nuovo-utente</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ViewRegistrazioneComunicazione</servlet-name> 
        <url-pattern>/amministratore-nuova-comunicazione</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>HomeLog</servlet-name> 
        <url-pattern>/log</url-pattern> 
    </servlet-mapping>
    
	<!-- Welcome pages -->
	
	<welcome-file-list>
		<welcome-file>login</welcome-file>
	</welcome-file-list>
		
	<!-- Handle exceptions and errors -->
	
	 
</web-app>
