.menu-top-group {
	width: 8em;
   	background-color: #3498DB;
	text-align: center;
	height: 80%;
}

.menu-bottom-group {
	width: 8em;
   	background-color: #2980B9;
	text-align: center;
	position: fixed;
    bottom: 0px;
	height: 21%;
}

img {
	margin-top: 1em;
	margin-bottom: 4em;
}

input[type="button"] {
	border-radius: 10px;
    white-space: normal;
    width: 5.2em;
    height: 5em;
    margin-top: 1em;
}